.event-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(90%, 400px); 
    max-width: 400px;
    margin-top: 20px;
}

.event-section {
    background: #f4f4f4; /* Stesso sfondo della pagina */
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin-bottom: 5px;
    width: 100%;
}

.event-title {
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-bottom: 5px;
}

.event-item {
    background: #f4f4f4; /* Stesso sfondo della sezione */
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}

.event-date {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-bottom: 3px;
}

.event-details a {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: black;
    text-align: center;
    text-decoration: none;
}

.event-details a:hover {
    color: #e2007d;
}
